.head {
    background-color: #ff851d;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 50%;
        height: 50%;
        padding-left: .625rem;
    }

    .app {
        width: 1.875rem;
        height: 1.875rem;
        padding-right: .625rem;
    }
}

.seek {
    background-color: #fff;
    width: 100%;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .seekbox {
        width: 73%;
        height: 1.875rem;
        background-color: #f1f1f1;
        border-radius: 1.875rem;
        margin-left: .625rem;
        padding-left: .625rem;
        font-size: 1rem;
        color: #8b8995;
    }

    .seekbut {
        background-color: #ff851d;
        color: #fff;
        border-radius: .9375rem;
        width: 17%;
        height: 1.875rem;
        margin-right: .625rem;
    }
}

.foot {
    background-color: #fff;

    .foot-t {
        display: flex;
        justify-content: center;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;

        a {
            width: 33.3%;
            display: flex;
            justify-content: center;
            color: #000;
            line-height: 1.75rem;
            border-right: 1px solid #cccccc;
            font-size: 1rem;

        }

        .aaa {
            border-right: none;
        }
    }

    .foot-b {
        text-align: center;

        p {
            color: #000;
            line-height: 1.875rem;

            .app-xz {
                color: red;
            }
        }
    }
}

.main {
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        .title-l {
            a {
                color: #000;
            }
        }

        .title-r {
            button {
                padding: 4px 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                background-color: #fff;
            }
        }
    }

    .goods {
        ul{
            background-color: #fff;
            .box{
                border-bottom: 1px solid #ccc;
                display: flex;
                .goods-t{
                    padding-left: 10px;
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
                .goods-b{
                    padding:0 10px;
                    line-height: 30px;
                    .g-title{
                        color: #000;
                        line-height: 18px;
                        font-size: 14px;
                        padding-top: 10px;
                    }
                    span{
                        color: red;
                        font-size: 14px;
                    }
                    .g-button{
                        span{
                            color: #8b8995;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .paging {
        background-color: #fff;
        padding: 10px 8px;
        display: flex;
        justify-content: space-between;
        a{
            div{
                border: 1px solid #ccc;
                padding: 4px 8px;
                color: #000;
            }
        }
    }
}